:root {
    --color-bg-light: #ffffff;
    --color-bg-medium: #aaaaaa;
    --color-bg-dark: #343434;
    --color-text-light: #ffffff;
    --color-text-medium: #aaaaaa;
    --color-text-dark: #777777;
}

@media {

    body {
        margin: 0;
        display: flex;
        align-items: stretch;
        font-family: 'Hind', sans-serif;
    }

    p {
        margin-top: 1rem;
    }

    a,
    a:active,
    a:visited {
        color: inherit;
        text-decoration: none;
    }

    details {
        border-bottom: 1px dashed var(--color-text-medium);
        position: relative;
    }

    details[open] {
        border-bottom: none;
    }

    details > summary {
        list-style: none;
        cursor: s-resize;
    }

    details > summary:after {
        content: '⇣';
        position: absolute;
        bottom: -20px;
        text-align: center;
        left: 0;
        width: 100%;
    }

    details[open] {
        border-bottom: none;
    }

    details[open] > summary {
        cursor: n-resize;
    }

    details[open] > summary:after {
        content: '⇡';
    }

    .page-break {
    }

    ul {
        list-style-type: disc;
    }

    ul li {
        margin: 15px 0;
    }

    a:hover {
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-color: #cccccc;
    }

    .col {
        min-width: 0;
    }

    .col-left {
        width: 30vw;
        min-width: -moz-fit-content;
        min-width: fit-content;
        flex-grow: 1;
    }

    .col-right {
        flex-grow: 3;
        width: 70vw;
    }

    .col-dark {
        background-color: var(--color-bg-dark);
        color: var(--color-text-medium);
    }

    .col-left__heading {
        text-align: left;
        text-transform: uppercase;
        font-family: 'Teko', sans-serif;
        font-weight: normal;
        margin-bottom: 1rem;
    }

    .col-left p {
        margin-top: .5rem;
    }

    .col-dark__heading-1 {
        color: var(--color-text-light);
        font-size: 4.5rem;
        line-height: .80;
    }

    .col-dark__heading-2 {
        color: var(--color-text-dark);
        letter-spacing: .3rem;
        font-size: 2rem;
    }

    .col-dark__heading-3 {
        margin-bottom: .5rem;
        font-size: 1.4rem;
    }

    .col-dark {
        background-color: var(--color-bg-dark);
        color: var(--color-text-medium);
    }

    .col__content-left {
        float: right;
        max-width: min-content;
        font-size: .9rem;
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .col-left-section {
        margin: 3rem 3rem 0 3rem;
    }

    .col-section__skills {
        margin-bottom: 3rem;
        min-width: fit-content;
    }

    .col__content-right {
        float: left;
        width: 100%;
        max-width: 900px;
    }

    .col-right-section {
        margin: 3rem;
        page-break-after: always;
        float: none;
        /*position: relative;*/
    }

    .col-right-section:last-of-type {
        page-break-after: avoid;
    }

    .col-light {
        background-color: var(--color-bg-light);
        color: #888888;
    }

    .col-light__heading {
        text-align: left;
        text-transform: uppercase;
        font-family: 'Teko', sans-serif;
        font-weight: normal;
        margin-bottom: 1rem;
    }

    .col-light__heading-1 {
        font-size: 160%;
        margin-top: 2rem;
    }

    .col-light__heading-2 {
        font-size: 130%;
        color: var(--color-text-medium);
        margin-bottom: .5%;
        margin-top: 1rem;
    }

    .col-light__heading-3 {
        text-transform: none;
        font-size: 120%;
        font-style: italic;
        margin-bottom: 1%;
    }

    .col-light p a {
        text-decoration: underline dotted #cccccc;
        /*font-style: italic;*/
    }

    dl.contact-info {
        overflow: hidden;
        width: 100%;
    }

    dl.contact-info dt {
        min-width: 25%;
        font-family: 'Teko', sans-serif;
        text-transform: uppercase;
    }

    dl.contact-info dd {
        text-align: left;
        margin-bottom: 1rem;
    }

    .work-history {
        margin-left: 4.5rem;
        display: flex;
        order: revert;
        flex-direction: column;
    }

    .work-history__item {
        border-left: 1px solid var(--color-text-medium);
        padding-left: .7rem;
        position: relative;
        margin-bottom: 2rem;
        page-break-inside: avoid;
        break-before: avoid-page;
    }

    .work-history__date {
        position: absolute;
        left: -4.5rem;
        font-style: italic;
        text-align: right;
    }

    .work-history__date-start {
        bottom: 0rem;
    }

    .work-history__date-end {
        top: 0rem;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
    }

    .skill {
        min-width: 175px;
        flex: 1;
        margin-bottom: 2rem;
    }

    .skill:last-child {
        margin-bottom: 0;
    }

    .skill__name {
        margin-bottom: .5rem;
    }

    .skill-gauge {
        border: 1px solid var(--color-text-medium);
        padding: 2px;
        border-radius: 3px;
        height: 20px;
    }

    .skill-gauge__value {
        background-color: var(--color-text-medium);
        border: 1px solid  var(--color-text-medium);
        height: 100%;
    }

    .badges {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .badges a,
    .badges a:active,
    .badges a:visited {
        color: var(--color-text-light);
    }

    .badges__badge {
        flex-basis: 200px;
        flex-grow: 1;
        max-height: 100px;
        margin: 0 10px 10px 0;
        min-width: min-content;
        overflow-y: hidden;
        border-radius: 6px;
        padding: 15px;
        background-color: var(--color-bg-medium);
        border: 3px solid var(--color-bg-medium);
        color: var(--color-text-light);
        font-size: 1.5rem;
        font-family: 'Teko', sans-serif;
        vertical-align: middle;
        position: relative;
    }

    a.badges__badge:hover {
        border-style: dashed;
        border-color: var(--color-text-dark);
        text-decoration: none;
    }

    .badges__badge-icon {
        width: 50px;
        max-height: 50px;
        position:absolute;
    }

    .badges__badge img {
        filter: saturate(25%) opacity(50%);
        width: 50px;
        height: 50px;
    }

    .badges__badge h3 {
        display: table-cell;
        margin: 0;
        padding-left: 60px;
        height: 50px;
        font-weight: normal;
        font-size: 1.5rem;
        vertical-align: middle;
    }

    .badges__badge::before {
        background: url("img/link.svg");
        height: 20px;
        width: 20px;
        content: ".";
        font-size: 0;
        position: absolute;
        top: 0;
        right: 5px;
        filter: opacity(33%);
    }
}

@media all and (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .col {
        float: none;
        width: auto;
    }

    .col__content-left {
        flex-direction: row;
        float: none;
        max-width: fit-content;
        max-width: -moz-fit-content;
    }

    .col-left-section {
        flex: 1;
    }

    .col-section__skills {
        order: 3;
    }

    .col-section__contact {
        order: 2;
    }

    .col-dark__heading-1 {
        font-size: 3.5rem;
    }

    .skills {
        margin-left: -6%;
    }

    .skill {
        margin-left: 6%;
    }
}

@media print {
    body {
        display: block;
    }

    .col {
        float: none;
    }

    .col-right-section {
        float: none;
        position: relative;
    }
}
